<section class="section--page">
    <h2>Licences et certifications</h2>

    <div id="wrapper--techstack__items">
        <div class="card--techstack"><span> Business Intelligence pour Product Owner & Business Analyst</span></div>
        <div class="card--techstack"><span>Maîtrisez les Tests Unitaires en .NET Core (.NET 7) et Xunit</span></div>
        <div class="card--techstack"><span>Devenez un expert de Git et GitHub</span></div>
        <div class="card--techstack"><span>Déboguez vos applications C#</span></div>
        <div class="card--techstack"><span>Gérez du code avec Git et GitHub</span></div>
        <div class="card--techstack"><span>Gérez votre projet avec une équipe Scrum</span></div>
        <div class="card--techstack"><span>Initiez-vous à la gestion de projet agile</span></div>
        <div class="card--techstack"><span>Passez à l'agilité à l'échelle</span></div>
        <div class="card--techstack"><span>Test your .NET applications</span></div>

    </div>
</section>
