
<section class="section--page">
    <h2>Compétences</h2>

    <div id="wrapper--techstack__items">
        <div class="card--techstack"><span>.NET core</span></div>
        <div class="card--techstack"><span>Angular</span></div>
        <div class="card--techstack"><span>Architecture MVC</span></div>
        <div class="card--techstack"><span>Architecture MVV</span></div>
        <div class="card--techstack"><span>Architectures N/tiers</span></div>
        <div class="card--techstack"><span>Agile/Scrum</span></div>
        <div class="card--techstack"><span>Architecture en couches</span></div>
        <div class="card--techstack"><span>ASP.NET Razor</span></div>
        <div class="card--techstack"><span>ASP.NET MVC </span></div>
        <div class="card--techstack"><span>Automatisation des tests</span></div>
        <div class="card--techstack"><span>Bases de données</span></div>
        <div class="card--techstack"><span>C#</span></div>
        <div class="card--techstack"><span>CSS</span></div>
        <div class="card--techstack"><span>Github</span></div>
        <div class="card--techstack"><span>HTML5 </span></div>
        <div class="card--techstack"><span>JIRA</span></div>
        <div class="card--techstack"><span>jQuery </span></div>
        <div class="card--techstack"><span>jQuery </span></div>
        <div class="card--techstack"><span>Langage de modélisation unifié (UML) </span></div>
        <div class="card--techstack"><span>Leadership d’équipe</span></div>
        <div class="card--techstack"><span> MICROSERVICE</span></div>
        <div class="card--techstack"><span>MySQL</span></div>
        <div class="card--techstack"><span>SQL</span></div>
        <div class="card--techstack"><span> SQL Server</span></div>
        <div class="card--techstack"><span>Travail d’équipe</span></div>
        <div class="card--techstack"><span>TypeScript </span></div>

    </div>
 
</section>