
<section id="wrapper--hero" class="section--page">
    <img id="profile-pic" src="./assets/images/90404012.jpg">

    <div>
        <h1 id="user-name">Oumarou Bako Housseini</h1>
        <p id="bio">Je suis un ingénieur logiciel et analyste programmeur spécialisé en Angular et .
            NET Core, basé à Gatineau. Passionné par les technologies de l'information, j'ai
            une expérience substantielle en freelance et j'excelle dans la gestion de projet, le
            développement et le déploiement de solutions technologiques. J'apprécie
            particulièrement le travail en équipe, qui est essentiel pour réussir dans des
            projets complexes et innovants..</p>

    </div>  
</section>

