
<section id="work-history-wrapper" class="section--page">
    <h2>Expérience</h2>

    <div class="card--work-history">
        <strong>🚧 Université du Québec en Outaouais</strong>
        <p>08/2024 - present</p>
        <strong>Étudiant-chercheur</strong> 
        <p>
            Dans ce projet, il sera question d'abord de tester plusieurs modèles de détection et de segmentation d'objets d’intérêts dans les scènes de désastres naturels (ex. ouragans, inondations, feux, etc.) captées par des drones. Cette étape vise à mesurer la robustesse de ces modèles par rapport à la variation de la taille des objets et la présence de bruit dans les scènes. 

            En second lieu, il sera question de développer un système d'inférence visuel, dont les requêtes seront basées sur le langage naturel et les réponses sur l'analyse sémantique visuelle et la construction d'un graphe relationnel de la scène analysée. La méthodologie sera testée sur des bases de données publiques avec des métriques appropriées.
            
            </p>
          
            <strong>Mots clés: </strong>
        <ul>
            <li>Analyse sémantique</li>
            <li>Imagerie aérienne</li>
            <li>Traitement des langue</li>
            <li>Détection</li>
            <li> Segmentation</li>
            <li> zones de désastre</li>
        </ul>
        <strong>Responsable de Travaux Dirigé Base de donnée (SQL serveurs)</strong>
        <p>
            Pour la session de l'automne 2024, je suis en charge des travaux dirigés en bases de données relationnelles, où je partage mes connaissances et mon expertise en SQL Server avec les étudiants. Ce rôle implique la préparation et l'animation de séances pratiques, ainsi que l'accompagnement des étudiants dans l'acquisition des compétences nécessaires pour maîtriser les concepts de bases de données relationnelles et l'utilisation de SQL Server dans des environnements réels.
            </p>

    </div>

    <div class="line-break"></div>

    <div class="card--work-history">
        <strong>🚧 Optimus Engineering Niger </strong>
        <p> 12/2022- 08/2024 </p>
        <strong>Analyste Programmeur </strong> 
        <p>En tant qu'analyste au sein d'une équipe de développement, mon rôle consiste à assurer la liaison entre les besoins des clients et les solutions techniques. Mes responsabilités s’articulent autour des axes suivants </p>
        <ul>
            <li>Analyse des besoins</li>
            <li>Rédaction du cahier des charges</li>
            <li>Conception et réalisation de la solution</li>
            <li>Déploiement des solutions</li>
            <li>Travail en équipe</li>
        </ul>
    </div>

    <div class="line-break"></div>

    <div class="card--work-history">
        <strong>🚧Conseil National de l'ordre des Médecins du Niger  </strong>
         
        <p>10/2022- 12/2022</p>
        <strong>Analyste Programmeur  | Freelance </strong> 
        <p>Analyse des besoins utilisateurs et création d'un cahier des charges.
            Conception et Réalisation de la solution proposée.
            Déploiement de la solution</p>
   
    </div>

    <div class="line-break"></div>

    <div class="card--work-history">
        <strong>🚧 Justech (Tunisie)  </strong>
        <p>05/2022 - 10/2022</p>
        <strong>Analyste Programmeur  | Stage</strong> 
        <p>En charge de projets web pour une clinique spécialisée dans la procréation médicalement assistée, j’ai participé activement à l’ensemble du cycle de vie des solutions numériques mises en place. À partir de l’analyse des besoins spécifiques du personnel médical et administratif, j’ai conçu des solutions sur mesure en tenant compte des contraintes métier, de la confidentialité des données et des exigences réglementaires du secteur de la santé. J’ai assuré la conception fonctionnelle et technique des outils, ainsi que leur réalisation en utilisant des technologies web modernes. Mon rôle incluait également la coordination avec les parties prenantes, les phases de tests utilisateurs et le déploiement des applications en environnement clinique.</p>
     
    </div>

    <div class="line-break"></div>

    <div class="card--work-history">
        <strong>🚧 Faculté des Sciences Monastir</strong>
        <p> 10/2021-04/2022</p>
        <strong>Analyste Programmeur | Stage </strong> 
        <p>En charge de projets web pour des laboratoires de chimie, j’ai développé une plateforme facilitant les échanges de produits chimiques et la gestion centralisée des bases de données entre différents laboratoires. Mon travail a débuté par une analyse approfondie des besoins des utilisateurs, incluant les contraintes liées à la traçabilité des produits, à la sécurité des données et aux normes réglementaires en vigueur. J’ai ensuite rédigé un cahier des charges structuré, servant de référence tout au long du projet. Sur cette base, j’ai conçu et réalisé une solution web robuste permettant un suivi efficace des transferts de substances, une gestion optimisée des stocks et une interopérabilité entre les systèmes des différents laboratoires.</p>
  
    </div>


</section>

